mixin numberCell(title, number)
  td.number(data-title=title)= number

mixin sizeCell(title, size)
  td.number(data-title=title, data-value= size)= h.size.format(size)

a
h2 Google Page Speed Insights

- const gpsiSummary = pageInfo.data.gpsi.pageSummary.data
//- This is how you can see all the content sent from GPSI
//- p #{JSON.stringify(gpgpsiSummary)}

h3 Lighthouse score
p Using Lighthouse version #{gpsiSummary.lighthouseResult.lighthouseVersion}
table
      thead
        tr
          th Performance
          th SEO
          th Accessibility
          th Best practices
          th PWA
      tbody
        tr
          td #{Number(gpsiSummary.lighthouseResult.categories.performance.score * 100).toFixed(0)}
          td #{Number(gpsiSummary.lighthouseResult.categories.seo.score * 100).toFixed(0)}
          td #{Number(gpsiSummary.lighthouseResult.categories.accessibility.score * 100).toFixed(0)}
          td #{Number(gpsiSummary.lighthouseResult.categories['best-practices'].score * 100).toFixed(0)}
          td #{Number(gpsiSummary.lighthouseResult.categories.pwa.score * 100).toFixed(0)}        

h3 Google Web Vitals (from Lighthouse)
table
      thead
        tr
          th First Contentful Paint
          th Largest Contentful Paint
          th Total Blocking Time
          th Cumulative Layout Shift
      tbody
        tr
          td #{h.time.ms(gpsiSummary.lighthouseResult.audits['first-contentful-paint'].numericValue)}
          td #{h.time.ms(gpsiSummary.lighthouseResult.audits['largest-contentful-paint'].numericValue)}
          td #{h.time.ms(gpsiSummary.lighthouseResult.audits['total-blocking-time'].numericValue)}
          td #{gpsiSummary.lighthouseResult.audits['cumulative-layout-shift'].numericValue}

h3 Data from the field

- const experiences = ['loadingExperience','originLoadingExperience'];
- const metrics = {FIRST_CONTENTFUL_PAINT_MS:'First Contentful Paint (FCP)', LARGEST_CONTENTFUL_PAINT_MS: 'Largest Contentful Paint (LCP)', FIRST_INPUT_DELAY_MS:'First Input Delay (FID)', CUMULATIVE_LAYOUT_SHIFT_SCORE: 'Cumulative Layout Shift (CLS)', EXPERIMENTAL_TIME_TO_FIRST_BYTE: 'Time to first byte (TTFB)', EXPERIMENTAL_INTERACTION_TO_NEXT_PAINT: 'Interaction To Next Paint (INP)'}; 

each experience in experiences
  if (gpsiSummary[experience] && gpsiSummary[experience].metrics)
    if experience === 'loadingExperience'
      p Over the last 30 days, the field data shows that this page has an #{gpsiSummary.loadingExperience.overall_category} speed compared to other pages in the Chrome User Experience Report. We are showing the 75th percentile of FCP and the 95th percentile of FID.
    else 
      h4 All pages served from this origin
      p All pages served from this origin have an #{gpsiSummary.originLoadingExperience.overall_category} speed compared to other pages in the Chrome User Experience Report over the last 30 days.
    table
      thead
        tr
          th Metric
          th Value
          th Category
      tbody
        each name, key in metrics
          if gpsiSummary[experience].metrics[key]
            tr
              td #{name}
              td #{gpsiSummary[experience].metrics[key].percentile} #{key.indexOf('SCORE') > -1 ? '': 'ms'}
              td #{gpsiSummary[experience].metrics[key].category} 
          else 
            p No! #{key}
    h4 Distribution

    table
      each name, key in metrics
        if gpsiSummary[experience].metrics[key]
          tr
            th #{name}
            th Min
            th Max
            th Users
          tr
            td Fast
            td #{gpsiSummary[experience].metrics[key].distributions[0].min}
            td #{gpsiSummary[experience].metrics[key].distributions[0].max}
            td #{Number(gpsiSummary[experience].metrics[key].distributions[0].proportion * 100).toFixed(2)} %
          tr
            td Moderate
            td #{gpsiSummary[experience].metrics[key].distributions[1].min}
            td #{gpsiSummary[experience].metrics[key].distributions[1].max}
            td #{Number(gpsiSummary[experience].metrics[key].distributions[1].proportion * 100).toFixed(2)} %
          tr
            td Slow
            td #{gpsiSummary[experience].metrics[key].distributions[2].min}
            td #{gpsiSummary[experience].metrics[key].distributions[2].max}
            td #{Number(gpsiSummary[experience].metrics[key].distributions[2].proportion * 100).toFixed(2)} %
  else
    p No data for #{experience}.